
/* font */
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




/* color */
:root{
    --white :rgb(244, 244, 244) ;
    --black: rgba(0, 0, 0, 0.996);
    --green: rgb(106, 210, 109);
    --yellow: rgb(255, 190, 62);
    --smoke-white: rgb(223, 218, 224);
}

body{
    background-color: var(--smoke-white);
    margin: 0px;
    padding: 0px;
}
*{
 color: var(--black);
 font-family:'Poppins', sans-serif ;
}
h1, h2, h3 , h4, .h1, .h2, .h3, .h4{
    color: var(--black);
    font-family: 'Itim',sans-serif;
}

.logo{
    display: flex;
    align-items: center;
    gap: 50px;
    background-color: var(--white);
    height: 80px;
    border-bottom:  2px solid var(--green) ;
    transition: 0.5s ;
    border-radius: 15px;

}
.logo a{
color: var(--black);
text-decoration: none;
}
.logo h1{
    display: flex; 
    align-items: center;
    height: 70px;
    width: 160px;
    color: var(--green);
    
    margin-left: 10px;
   
    position: relative;
}
.logo h1::after{
    content: 'it';
    color: var(--black);
    font-size: 20px;
    
    border-right: 2px solid black;
    
}
/* nav-bar */
nav{
    background-color: var(--black);
    height: 70px;
    width: 100%;
    color: var(--white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    position: fixed;
    transition: 0.5s ;
    border-bottom: 2px solid var(--green);
    border-radius: 15px;
    z-index: 3;

}

.profilo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    height: 30px;
    width: 190px;
  
}
.menu i{
    font-size: 20px;
    color: var(--green);
}
.profilo  i{
    font-size: 20px;
    color: var(--green);
}
.profilo p{
 color: var(--white);
 margin-top: 15px;
}


.links a{
    text-decoration: none;
    color: var(--white);
    margin-right: 20px;
    border-bottom: 2px solid var(--green) ;
    
}
.links a:hover {
    color: var(--green);
    border-bottom: 2px solid var(--white);
}
.ora{
    display: flex;
    gap: 20px;
    align-items: center;
}
.ora i {
    font-size: 20px;
    color: var(--white);
}
.ora p{
  
    margin-top: 15px;
  color: var(--white);
}
/* end nav */

/* header */

header{
    margin-top: 70px;
    
}

.blackfriday{
    border: 2px solid var(--green);
    background-color: var(--black);
    margin-top: 30px;
    border-radius: 15px ;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.blackfriday h4{
    color: var(--smoke-white);
    font-size: 50px;
    letter-spacing: 10px;
    transform: rotate(14deg);
}
.news{
    border: 2px solid var(--green);
    margin-top: 30px;
    border-radius: 15px ;
    height: 200px;

}
.section-article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
   
}
.section-article h2{
    text-align: center;
}
.article{
    height: 200px ;
    width: 170px;
    border: 2px solid var(--green);
    border-radius: 15px;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    cursor: pointer;
    transition: all 0.5s ;
   
}
.article i{
    color: var(--white);
    font-size: 40px;
}
.article h4{
    color: var(--yellow);
}
.article:hover{
    transform: scale(1.2);
    box-shadow: 2px 2px 5px var(--yellow) , -2px -2px 5px ;
}
/* end header */
/* social */
.socials{
    background-color: var(--black);
    height: 200px;
    margin-bottom: 14px;
    border: 2px solid var(--green);
     border-radius: 14px;
}
.social{
 width: 50%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
border-right: 1px solid var(--white);
}
.icon{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.social h4{
    color: var(--smoke-white);
    text-align: center;

}
.social i{
    color: var(--smoke-white);
    font-size: 30px;
    
}
.social i:hover {
    transform: scale(1.1);

}
.recensioni{
    width: 50%;
    display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.swiper{
    width: 50%;
}

.reviuws h4{
    color: var(--smoke-white);
    text-align: center;
    
}
.card-reviuw{
    height: 130px;
    width: 240px;
    border: 2px solid var(--smoke-white);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   box-shadow: 2px 2px 5px var(--smoke-white) , -2px -2px 5px var(--smoke-white)  ;
   padding: 4px 15px;
}

.recensioni h4{
    color: var(--smoke-white);
}
.card-reviuw p{

    color: var(--smoke-white);
}

.card-reviuw i {
    color: var(--yellow);
}

/* end-social */

footer{
    height: 170px;
    background-color: var(--black);
    border-radius:14px ;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-around;
}
footer h4, li{
    color: var(--smoke-white);
}
.indirizzi, .contatti{
    padding: 20px;
}



/* annunci */
.annunci{
    display: flex;
}
.sidebar{
    height: 100vh;
    width: 300px;
    background-color: var(--green);
    position: relative ;
    transition: 1s;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 4px;
    margin-top: 20px;
    border: 2px solid black;

    
}
.nodisplay{
    display: none;
}
.categorie h4{
    margin-top: -30px;
}
.categoria{
    height: auto;
    display: flex;
    flex-direction: column;
}
.riserch{
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
    
}
#wordInput{
    border-radius: 14px;
}

.card-wrapper{
    height: 100vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
}
.cards{
   height: 300px;
   width: 250px;
   border: 4px solid var(--green);
   text-align: center;
   border-radius: 14px ;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   margin-top: 70px;
   transition: 0.5s;

}
.cards button{
    background-color: var(--yellow);
    margin-bottom: 8px;
    padding: 4px 8px;
    border: 2px solid var(--green);
    border-radius: 14px;
}
.cards button:hover{
    background-color: var(--green);
    bottom: 0px;
}
#carrello{
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 20px;
    padding: 10px;
    border: 2px solid var(--black);
    border-radius: 50%;
    background-color: var(--smoke-white) ;
    
}
#carrello::after{
content:  attr(data-count);
font-size: 15px ;
background-color: var(--yellow);
padding: 10px;
border: 1px solid var(--green);
font-size: 8px;
border-radius: 50%;
position: absolute;
top: -15px;
 right: -10px;
}
.badge{
    color: var(--black);
}
.cards img{
    border-radius: 14px;
}
.cards h4 , p{
    color: var(--black);
}



/* chi siamo  */
.profilo-annunci {
    color: var(--green);
}
.annunci_header{
    margin-top: 90px;
}
.chi_siamo{ 
    position: relative;
   bottom: -40px;
    margin-top: 30px;
    transform: rotate(20deg);
}
.chi_siamo h1{
    text-transform: uppercase;
    font-weight: bold;
   
}

.chi-sono{
    margin-top: 80px;
    border-bottom: 2px solid var(--black) ;
    margin-bottom: 20px;
   
    border-radius: 15px;
}
.description img {
    width: 200px;
    height: 200px;
    
}
.description_wrapper{
display: flex;
height: auto;
justify-content: space-around;
align-items: center;
gap: 30px;
transition: 0.5s;

}
.description{
   display: flex;
   justify-content: start;
   align-items: start;
   flex-direction: column;
   gap: 15px;
   padding: 30px;
   border-left: 2px solid var(--yellow);
   border-bottom: 2px solid var(--green);
   border-radius: 14px;
}
.description h3, h4{
    text-transform: uppercase;
    font-weight: bold;
}
.description p{
    width: 50%;
}
.persona{
    text-align: start;
    height: auto;
    width: 40%;
}
.il_nostro_staff{
    display: flex;
    height: auto;
    width: 30%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 5px;;
    border-right: 2px solid var(--green) ;
    border-top: 2px solid  var(--yellow) ;
    border-radius: 14px;
}
.staffs_section{
    display: flex;
    height: auto;
     justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 10px;
}
.staff{
    display: flex;
    height: 160px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
   
}
.staff img{
    margin-left: 15px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
   
    
}
.staff p{
    text-transform: uppercase;
    flex-wrap: wrap;
    font-weight: bold;
   
}
.mission{
    height: 400px;
    width: 101%;
    margin-bottom: 30px;
    margin-top: 70px;
    border-left: 2px solid var(--green);
    border-bottom: 2px solid var(--yellow);
   
    border-radius: 14px;

}

.mission_description{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 14px;
}
.mission_img img{
    height: 190px;
    width: 170px;
    border-radius: 50%;
    margin-left: 160px;
    margin-bottom: 20px;
}



@media screen and ( max-width: 700px) {
    .logo{
        display: flex;
        justify-content: center;
       width: 99%;
       gap: 15px;
        
    }
    .logo a{
        font-size: 10px;
        
    }
    .logo h1{
        font-size: 14px;
    }
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 99%;
        gap: 35px;
        
    }
    .profilo{
        width: 5%;
        margin-left: -10px;
    }
    .profilo i {
        font-size: 10px;
       
    }
    .profilo p{
        display: none;
    }
    .links{
        font-size: 10px;
       
    }
    .ora{
        font-size: 10px;
        margin-left: -40px;
       
    }
    .ora i{
        font-size: 10px;

    }
    .categories{
        display: flex;
        justify-content: center;
        align-items: center;
    }
 header{
    width: 95%;
    margin-left: -10px;
 }
    .blackfriday{
        width: 100%;
    }
    .blackfriday h4{
        font-size: 16px;
    }
    
    .section-article{
        width: 99%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
    .article{
        width: 35%;
    }
    .article h4{
        font-size: 12px;
    }

    .sidebar{
        display: flex;
        width: 80%;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        margin-top: 100px;
        margin-left: -10px;
        height: 60vh;
        position: absolute;
        
    }
    .nodisplay{
        display: none;
    }
    #radioWrapper{
        font-size: 10px;
        height: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
         gap: 4px;
    }

    .riserch{
        display: flex;
        height: 100%;
        justify-content: space-evenly;
        align-items: start;
        flex-direction: column;
        
    }
    #wordInput{
        border-radius: 14px;
    }
    

    .sidebar p ,h4{
        font-size: 10px;
    }
    
    .card-wrapper{
        width: 70%;
    }
    
    .cards{ 
        height: 220px;
        width: 150px;
       
        font-size: 15px;
     }
     .cards button{
        background-color: var(--yellow);
        font-size: 10px;
        border: 2px solid var(--green);
        border-radius: 14px;
    }
     .cards h4{
        font-size: 13px;
     }
     .cards img{
        width: 140px;
     } 
     .indirizzi, .contatti{
        padding: 5PX;
     }
     
     .socials_container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 240px;
        height: 300px;
       
      
     }
     .socials{
        display: flex;
        flex-direction: column;
        width: 100%; 
        position: relative;
        top: -10px;
     }
     .social{
      width: 100%;
      margin-left: -5px;
     }
     .social i{
        font-size: 17px;
     }
     .recensioni{
        background-color:  black;
        border: 2px solid var(--green);
        border-radius: 14px;
        position: absolute;
        bottom: -220px;
        width: 100%;
       
     }
     .card-reviuw{
        height: 100%;
        width: 100%;
        padding: 10px;
     }
     .card-reviuw p , i {
        font-size: 15px;
     }
     footer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 130px;
        margin-top: 180px;
     }
     footer h4{
        font-size: 14px;
     }
     footer li{
        font-size: 10px;
     }
     .chi-sono{
        margin-left: 10px;
        border-top: 2px solid var(--black);
        margin-bottom: ;
        
     }
     .il_nostro_staff{
         margin-top: 5px;
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
        margin-bottom: 20px;
        margin-left: 10px;
         
        }
        .staff{
           display: flex;
           height: 50px;
           align-items: center;
           justify-content: center;
           flex-direction: column;
           cursor: pointer;
          
       }
       .staff img{
           height: 40px;
           width: 40px;
           border-radius: 50%;
          
           
       }
       .staff p{
           text-transform: uppercase;
          
           font-weight: bold;
          
       }
     
     .description img {
        width: 100px;
        height: 100px;
        
    }
    .description_wrapper{
    display: flex;
     width: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    
    }
    .mission{
        margin-left: 20px;
    }
    .mission_description h4{
        font-size: 18px;
    }
    .mission_img img{
        height: 90px;
        width: 150px;
        border-radius: 0px;
        margin-left: 160px;
        margin-bottom: 20px;
    }
    
}